*{
    margin: 0;
    padding: 10px;
}

body{
    background-color: black;
    text-align: center;
    
}

#title{
    color: goldenrod;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vmin;

}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: #b0413e; 
    background-color: #ffffc7
}

#reset{
    padding: 1rem;
    font-size: 1.00rem;
    background-color: #ffffc7;
    color:black;
    border-radius: 20vh;
    /* border: none; */
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
    
}

.msgcontainer{
    height: 30vmin;
}

.hide{
    display: none;
}

#newgame{
    background-color: #ffffc7;
    border-radius:25px ;
    color: black;
}
